

.credit-info-container{
	display: block;
	background-color: bisque;
	margin: 20px;
}

.credit-info-container-top{
	display: grid;
	grid-template-columns: 5em 20em;
}

.credit-info-container-bottom{
	display: grid;
	grid-template-rows: auto auto;
}

.credit-info--id{
	background-color: red;
}

.credit-info--amount{
	background-color: blue;
}

.credit-info--date{
	background-color: green;
}

.credit-info--description{
	background-color: orange;
}